h1 {
  font-size: 1.2em;
  color: #002f9f;
  margin-bottom: 0;
}
h1[class="app-name"] {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  color: #002f9f;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #FFFDD3;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #002f9f;
}
nav a:hover {
  color: #9f0111;
  background-color: #FFFDD3;
}
nav a.active {
  color: #45919F;
}